@media (max-width: 600px) {
    body {
        height: 100vh;
        width: 100vw;
        overflow: none;
    }

    nav {
        padding: 0.5rem;
        height: 4rem;
    }

    nav .left p {
        font-size: 1.5rem;
        font-weight: 500;
    }

    nav .left img {
        width: 3rem;
        height: 3rem;

    }

    nav .right ul {
        background-color: #005600;
        position: fixed;
        top: 4rem;
        left: 0;
        width: 100%;
        height: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        gap: 0;
    }

    nav .right ul li {
        margin: 0.3rem;
        font-size: 1.2rem;
    }

    nav .right i {
        display: inline;
        font-size: 1.3rem;
    }

    .mainBox {
        flex-direction: column;
    }

    .swiper {
        height: 25rem;
    }

    .aboutPage {
        width: 100%;
    }

    .section-title {
        display: flex;
        justify-content: center;
    }

    .section-title h2 {
        font-size: 1.5rem;
        width: 20rem;
    }

    .section-title h2 span {
        display: block;
    }

    .textBox {
        width: 90vw;
    }

    .why-choose .icon-grid .box {
        width: 45vw;
        height: 40vw;
        font-size: 1.4rem;
    }

    .why-choose .icon-grid {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .galleryGrid,
    .gallery {
        grid-template-columns: repeat(2, minmax(10rem, 1fr));
    }

    #gallery h2 {
        margin: 3rem 0 2rem 0;
    }

    .photoGallery {
        padding: 1rem;
    }

    .galleryGrid img {
        width: 100%;
    }

    .fancy-btn {
        margin: 1rem 0rem 1rem 62vw;
    }

    .galleryPage {
        padding: 0;
        text-align: center;
        position: relative;
    }
}